/*  your css code here. If applicable */
#e1{
 color:	#2a7ae2;
	font-weight:900;
}
#e2{
	color: #f44336;
}
#e3{
	color:#4caf50;
}
#e4{
	color:#ff9800;
}
#e5{
	color: #607d8b;
}
#e6{
	color: #ffeb3b;
	
}